<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">

        <div class="navbar-header">
            <a routerLink="/jobs" class="navbar-brand">JOB TRACKER</a>
        </div>

        <div class="nav navbar-nav">
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item active">
                    <button class="btn btn-default" *ngIf="isAuthenticated" (click)='onLogout()'>Log Out</button>
                    <button class="btn btn-default" *ngIf="!isAuthenticated">Log In</button>
                </li>
            </ul>
        </div>

        
    </div>
</nav>
