<div id="list-holder">
    <ul class="list-group">
        <li class="list-group-item">
            <!-- <div class="dropdown div-inline">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    SORT BY
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" >Date</a>
                    <a class="dropdown-item" >Job Title</a>
                </div>
            </div> | -->
            <div class="dropdown div-inline">
                <button class="dropdown-toggle"
                    [ngClass]="{
                    'btn': true,
                    'btn-success': jobStatusSortKey == 'offer', 
                    'btn-warning': jobStatusSortKey == 'not applied',
                    'btn-danger': jobStatusSortKey == 'declined',
                    'btn-primary': jobStatusSortKey == 'interviewing',
                    'btn-secondary': jobStatusSortKey == 'no response'}"
                    type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    SORT BY: {{jobStatusSortKey | uppercase}}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" *ngFor="let status of jobStatus"
                        (click)="sortByStatus(status)">{{status}}</a>
                </div>
            </div>
            |
            <button class="btn btn-info" id="search-button" (click)="toggleButton()" >{{ isSearchingOpen ? 'CLOSE' : 'SEARCH'}}</button>
            |
            <span id="search"  [@openCloseSearching]="isSearchingOpen ? 'open' : 'closed'">
                <input id="search-input" type="text" placeholder="company name">
            </span>
            <button class="btn btn-primary float-right div-inline" (click)="addNewJob()">ADD</button>
        </li>
        <ng-container *ngIf="jobs.length && !isSearchingOpen">
            <li class="list-group-item list-job" *ngFor="let job of pageOfjobs;" (click)="onOpenJobEdit(job.index)">
                <app-jobs-item [job]="job" [index]="job.index"></app-jobs-item>
            </li>
            <div class="card-footer pb-3 pt-3">
                <jw-pagination [items]="jobs" (changePage)="onChangePage($event)" [pageSize]="jobsPerPage"
                    [initialPage]="getPageNum()"></jw-pagination>
            </div>
        </ng-container>
        <ng-container *ngIf="isSearchingOpen">
            
        </ng-container>
    </ul>
</div>